<% if @decks %>
  <section class="deck_list">
    <% @decks.each do |deck| %>
      <section class="deck_list_item">
        <%= link_to "#{deck.name}", deck_rounds_path(deck), method: :post %>
      </section>
    <% end %>
  </section>
<% end %>

<footer>
  <% if logged_in? %>
    <p><%= link_to "Logout", session_path(1), method: :delete %></p>
  <% else %>
    <p><%= link_to "Register", new_user_path %><br><%= link_to "Login", new_session_path %></p>
  <% end %>
</footer>
